<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{title}}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css" href=""/>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("jquery", "1.3.2");
</script>
<script type="text/javascript" src = {{ script }} ></script>
</head>
<div class="colmask threecol">
	<div class ="innerheader"></div>
	<div id="forum">
		<div id ="topic">
		{% for topic in topics %}{{ topic }}{% endfor %}
		<div id ="toplinks">
				<a href = {{url_forum}}><span>{ </span>{{titan}}<span> }</span></a>
		</div>
		</div>
		<div class ="innerfooter"></div>
	</div>
</div>
<div id="header">
	<div id = 'site-logo-area'>	
		<img id = 'logo' src="images/cloudyama.jpg"/>
		<div id = 'slogan'>{{cloud_slogan}}
			<div id = 'title'>{{cloud_info}}</div>
		</div>	
	</div>
	<div id = 'language_area'>
		{{languages}}
	</div>
	<ul>
		<li><a href={{url_home}}>{{home}}</a></li>
		<li><a href={{url_forum}} class="active">{{forum}}</a></li>
		<li><a href={{url_translate}}>{{translate}}</a></li>
		<li><a href={{url_fuckml}}>{{fuckml}}</a></li>
		<li><a href={{url_chat}}>{{chat}}</a></li>
		<!--<li><a href="http://matthewjamestaylor.com/blog/perfect-full-page.htm">6<span>Full Page</span></a></li>
		<li><a href="http://matthewjamestaylor.com/blog/perfect-stacked-columns.htm">7<span>columns</span></a></li> -->
	</ul>
</div>
<div id="footer">
	<span id="clock">&nbsp;</span><a href = 'javascript:toggle_txtbox()' id = "topic_create" ></a>
	<a herf = "#" id = "title_words" style = "display:none;width:auto;">0</a>
	<a herf = "#" id = "body_words" style = "display:none;width:auto;">0</a>
	<a href = 'javascript:send_topic({{id}})' id = "topic_send" style = "display:none" ></a>
</div>
<div id = 'commandbox'>
	<textarea class = 'command' id = 'command'></textarea>
</div>
<body>